
.nav{
    background-color: #FFC970;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    &__link{
        margin: 8px 10px;
        padding: 10px 30px;
        text-decoration: none;
        color: black;
        fill: black;

        &--active{
            background: rgb(253, 251, 128) 30%;
            color: rgb(12, 171, 219);
            fill: rgb(12, 171, 219);
            border-radius: 10px;
        }
    }

    
}